body {
    font-family: "Montserrat";
    color: rgba(0,0,0,0.85);
}

.navbar {
    background-color: #13419B;
}

#brandTitle {
    color: white;
}

H2 {
    margin-top: 15px;
}

.Illu1 {
    z-index: 1;
    position: absolute;
    width: 400px;
    margin-left: 500px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.listIcon{
    height: 18px;
    color: white;
    padding-right: 16px;
}

#listContainer {
    background-color: #F3F3F3;
    padding: 18px;
    height: 1080PX;
}

#taskContainer1 {
    width: 70%;
    height: 200px;
    padding: 10px;
    margin-top: 20px;
    background-color: #F3F3F3
}